<html ng-app="pincoder">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
	<title>Pincoder</title>
<style id="jsbin-css">
#input {
  display: block;
  margin: 0 auto;
  width: 6em;
  height: 3em;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  border: solid thin #eee;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

#input {
  outline: none;
}

#output {
  display: block;
  margin: 1em auto;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
}

.error {
  display: block;
  margin: 1em auto;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  color: green;
}
</style>
</head>
<body ng-controller="MainController as main">
  <div ng-form name="form">
    <input
           id="input"
           name="input"
           type="text"
           placeholder="000000"
           maxlength="6"
           ng-minlength="6"
           ng-maxlength="6"
           ng-pattern="/\d{6}/"
           ng-change="main.convert()"
           ng-model="main.pincode"/>
    <div id="output">
      <span ng-bind="main.address"/>
    </div>
    <div ng-show="form.input.$error">
      <div class="error" ng-show="form.input.$error.minlength">
        Pincode must be 6 digits.
      </div>
      <div class="error" ng-show="form.input.$error.pattern">
        Enter a valid pincode.
      </div>
      <div class="error" ng-show="main.error">
        <span ng-bind="main.error"/>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script id="jsbin-javascript">
	"function"!=typeof String.prototype.startsWith&&(String.prototype.startsWith=function(a){return this.slice(0,a.length)==a}),"function"!=typeof String.prototype.contains&&(String.prototype.contains=function(a){return-1!=this.indexOf(a)}),angular.module("pincoder",[]).controller("MainController",["$http",function(a){var b=this;b.pincode="",b.address="Enter a 6-digit pincode",b.convert=function(){b.address="Enter a 6-digit pincode",b.error="",b.pincode&&(b.pincode.startsWith("00")?b.error="No such pincode":(b.address="Searching...",a.get("https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyADNM3gUOBtGMh2oTjEU7GzaAgjtLtSClA&address=Singapore+"+b.pincode).then(function(b){if(b.data.results[0].geometry.location){var c=b.data.results[0].geometry.location,d=c.lat+","+c.lng;return a.get("https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyADNM3gUOBtGMh2oTjEU7GzaAgjtLtSClA&latlng="+d)}}).then(function(a){a.data.results[0].formatted_address&&(b.address=a.data.results[0].formatted_address,(b.address.contains("Manila")||b.address.contains("Philippines"))&&(b.address="",b.error="Not included in the trial version"))},function(a){b.error=JSON.stringify(a)})))}}]);
</script>
</body>
</html>