<!DOCTYPE html>
<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2015 by anonymous (http://jsbin.com/watacavego/1/edit)

Released under the MIT license: http://jsbin.mit-license.org
-->
<meta name="robots" content="noindex">
<html ng-app="pincoder">
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
<style id="jsbin-css">
#input {
  display: block;
  margin: 0 auto;
  width: 6em;
  height: 3em;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  border: solid thin #eee;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

#input {
  outline: none;
}

#output {
  display: block;
  margin: 1em auto;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
}

.error {
  display: block;
  margin: 1em auto;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  color: green;  
}
</style>
</head>
<body ng-controller="MainController as main">
  <div ng-form name="form">
    <input 
           id="input"
           name="input"
           type="text" 
           placeholder="000000" 
           maxlength="6"
           ng-minlength="6"
           ng-maxlength="6"
           ng-pattern="/\d{6}/"
           ng-change="main.convert()"
           ng-model="main.pincode"/>
    <div id="output">
      <span ng-bind="main.address"/>
    </div>
    <div ng-show="form.input.$error">
      <div class="error" ng-show="form.input.$error.minlength">
        Pincode must be 6 digits.
      </div>
      <div class="error" ng-show="form.input.$error.pattern">
        Enter a valid pincode.
      </div>
      <div class="error" ng-show="main.error">
        <span ng-bind="main.error"/>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script id="jsbin-javascript">
if (typeof String.prototype.startsWith != 'function') {
  String.prototype.startsWith = function (str){
    return this.slice(0, str.length) == str;
  };
}

if (typeof String.prototype.contains != 'function') {
  String.prototype.contains = function(it) {
    return this.indexOf(it) != -1;
  };
}

angular
  .module('pincoder', [])
  .controller('MainController', ['$http', function($http) {
    var self = this;
    self.pincode = "";
    self.address = "Enter a 6-digit pincode";
    self.convert = function() {
      self.address = "Enter a 6-digit pincode";
      self.error = "";
      if(self.pincode) {
        if(!self.pincode.startsWith("00")) {
          self.address = "Searching...";
          $http.get("https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyADNM3gUOBtGMh2oTjEU7GzaAgjtLtSClA&address=Singapore+"+self.pincode).then(function(response) {
            if(response.data.results[0].geometry.location) {
              var l = response.data.results[0].geometry.location;
              var latlng = l.lat + "," + l.lng;
              return $http.get("https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyADNM3gUOBtGMh2oTjEU7GzaAgjtLtSClA&latlng="+latlng);
            }
          }).then(function(response){
            if(response.data.results[0].formatted_address) {
              
              self.address = response.data.results[0].formatted_address;
              if(self.address.contains("Manila") ||
                self.address.contains("Philippines")) {
                self.address = "";
                self.error = "Not included in the trial version";
              }
            }
          }, function(error) {
            self.error = JSON.stringify(error);
          });
        } else {
          self.error = "No such pincode";
        }
      } 
    };
  }]);
</script>
</body>
</html>